mixin spellSlot(elem, label)
    div(class!=`spellslot ${elem}`)
        span!= label
        .slot
            +numberInput(`slot_${elem}`, 0)
            span /
            +numberInput(`slot_${elem}_max`, 0)
        .affinities
            +cbButton(`affinity_${elem}`, 'Aff.', 1)
            +cbButton(`deficiency_${elem}`, 'Def.', 1)
