mixin textInput(name, value='')
  input(name=`attr_${name}` type='text' value=value)&attributes(attributes)

mixin textLabelled(name, label, id, value='')
  label(for=id)
    span!= label
    +textInput(name, value)(id=id)&attributes(attributes)

mixin numberInput(name, value='')
  input(name=`attr_${name}` type='number' value=value)&attributes(attributes)

mixin numberLabelled(name, label, id, value='', roll=null, withGauge=false)
  label(for=id)
    span!= label
      if (roll !== null)
        +actButton(name, roll)
    +numberInput(name, value)(id=id)&attributes(attributes)
    if (withGauge === true)
      .gauge
        .innerGauge

mixin rangeInput(name, value='', min=0, max=10, step=1)
  input(name=`attr_${name}`, type='range', value=value, min=min, max=max, step=step, readonly)&attributes(attributes)

mixin textareaInput(name, value='')
  textarea(name=`attr_${name}`)&attributes(attributes)= value

//- Textarea with a span named the same, the creator seemed to like that
mixin spanareaInput(name, value='')
  +textareaInput(name, value)(class!=attributes.class placeholder!=attributes.placeholder)= value
  span(name=`attr_${name}`)

mixin hiddenInput(name, value='')
  input(class!=attributes.class name=`attr_${name}` type='hidden' value=value)


mixin rollButton(name, value='', label=false)
  button(name=`roll_${name}` title!=attributes.title type='roll' value!=value).roll
    if (label)
      span #{label}

mixin actButton(name, value='')
  button(class!=attributes.class name=`act_${name}` type='action' value!=value)

mixin cbButton(name, label, value=null)
  label(class!=attributes.class)
    if value !== null
      input(name=`attr_${name}` value=value type='checkbox')&attributes(attributes)
    else
      input(name=name type='checkbox')&attributes(attributes)
    if label
      span!= label

mixin rdButton(name, label, value='')
  label
    input(name=`attr_${name}`, value=value, type='radio')&attributes(attributes)
    span(title=label)

mixin gauge(name)
  .gauge
    +hiddenInput(`gauge_${name}`)
    - for (let i = 0; i <= 10; i++)
      +cbButton(`gauge_${name}`, null, i)

mixin select(name)
  select(name=`attr_${name}`, defaultOption=null)
    if !defaultOption
      option(value='', selected)!= defaultOption
    if block
      block